.more-button {
  width: 47px;
  height: 47px;

  background: #f05d5e;
  border-radius: 10px;

  position: absolute;
  bottom: 16px;
  right: 16px;

  cursor: pointer;
}

.portfolio-button {
  background: #f05d5e;
  border-radius: 10px;

  max-height: 75px;
  width: 225px;

  margin-top: 100%;
  margin-left: 15%;

  cursor: pointer;
}
